body {
    font-family: Arial, sans-serif;
    background-color: #A64182;
    margin: 0;
    padding: 0;
    background-image: url(../img/fundo1.png);
}

.container {
    width: 70%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}

h1, h2 {
    color: #4A148C;
}

form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    color: #4A148C;
}

button {
    display: inline-block;
    background: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #388E3C;
    
}

#menuList, #previousMenus {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #4CAF50;
}
